<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
        <meta charset="UFT-8">
        <title>Photo de salamandre</title>
        <meta name = "viewport" content="width = device -width">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>
        <style>
            p>img{
                max-width : 80%;
            }
        </style>

    </head>


  <br>
        <header>
            <h1><center>Aide au suivi des salamandres</center></h1>

        </header>
<br>
<br>
  <br>
<center>
Cette application web vous permet de prendre ou de télécharger une photo d'une salamandre pour mesurer sa taille et obtenir sa localisation, facilitant ainsi le suivi de sa population.</br>

De plus, l'application web offre la possibilité d'identifier les salamandres en utilisant l'encodage ManderMatcher.</br>

Instructions d'utilisation :</br>

- Placez une pièce de 0,5, 1 ou 2 euros à côté de la salamandre de manière bien visible. Vous pouvez également utiliser un objet d'une longueur de 1 cm ou un dispositif permettant une mesure précise de 1 cm (comme une règle ou tout autre objet approprié).</br>

- Assurez-vous que la salamandre soit clairement visible et positionnée aussi verticalement que possible.</br>

- Si vous téléchargez simplement la photo après l'avoir prise, appuyez sur le bouton "Sélectionner un fichier". Le format du fichier doit être en jpg.</br>

- Si vous prenez directement la photo, une fois que vous avez appuyé sur le bouton "Sélectionner un fichier", votre appareil photo s'ouvrira automatiquement.</br>

- Vérifiez que la salamandre est bien droite et ne forme pas de courbe ou de "S" avec son corps. Sinon, l'encodage automatique ne fonctionnera pas correctement.</br>

- Pour identifier précisément la salamandre, suivez attentivement sa colonne vertébrale, en partant du bout du museau jusqu'à la pointe de la queue.</br>

- Assurez-vous également d'identifier la pièce de monnaie le plus précisément possible.</br>
    <a href="https://drive.google.com/drive/folders/0B8_GTHBuoKSRdkRzWGVtNS1ZZWM?resourcekey=0-7esIvjvUAROKNeKpKLyLjg">Explication encodage ManderMatcher</a>
</center>
    <center>
     <button type="button" id="goindex">Ajouter une photo</button>
        <br>
        <button type="button" id="godonnee">Consulter les données</button>
        <br>
        <button type="button" id = "showPosition">Montrer la localisation de la dernière salamandre observée</button>
    </center>

      <center>
        <div id ="map"></div>
      </center>

</main>
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src ="../static/BestRendering.js"></script>
<script src="../static/scripts_accueil.js"></script>
</body>

</html>