<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
        <meta charset="UFT-8">
        <title>Photo de salamandre</title>
        <meta name = "viewport" content="width = device -width">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>
        <style>
            p>img{
                max-width : 80%;
            }
        </style>

    </head>


  <br>
        <header>
            <h1><center>Aide au suivi des salamandre</center></h1>

        </header>
<br>
<center>
  <br>
      Cette web-app vous permet de prendre ou d'uploader une photo de la salamandre afin de mesurer celle-ci et de recuperer sa localisation afin de pouvoir suivre la population.
        </br>
    L'application web permet également d'identifier les salamandres en utilisant l'encodage ManderMatcher </br>
      Consignes d'utilisation:</br>

    - Placez une pièce de 0.5, 1, ou 2 euros de maniere bien visible a cote de la salamandre. Vous pouvez également placer un élement de la valeur d'1cm ou permettant de mesurer précisement 1cm (une latte ou autre). </br>
    - Assurez-vous que la salamandre est bien visible et le plus dans l'axe vertical possible.</br>
    - Si vous uploadez juste la photo apres l'avoir prise, appuyez sur le bouton selectionner un fichier. Le format du fichier doit être jpg.   </br>
    - Dans le cas ou vous prenez directement la photo, une fois que vous aurez appuyer sur le bouton selectionner un fichier, votre appareil photo s'ouvrira</br>
    - Assurez-vous que la salamandre soit bien droite et ne forme pas une courbe ou un s avec son corps. Dans le cas contraire, l'automatisation de l'encodage ne fonctionnera pas.</br>
    - Afin de correctement identifier la salamandre, assurez-vous de bien suivre sa colonne vertebrale en partant du bout du museau et en allant jusqu'au bout de la queue. </br>
    - Assurez-vous egalement d'identifier la pièce le plus precisement possible. </br>
    <a href="https://drive.google.com/drive/folders/0B8_GTHBuoKSRdkRzWGVtNS1ZZWM?resourcekey=0-7esIvjvUAROKNeKpKLyLjg">Explication encodage ManderMatcher</a>
</center>
    <center>
     <button type="button" id="goindex">Ajouter une photo</button>
        <br>
        <button type="button" id="godonnee">Consulter les données</button>
        <br>
        <button type="button" id = "showPosition">Montrer la localisation de la dernière salamandre observée</button>
    </center>

      <center>
        <div id ="map"></div>
      </center>

</main>
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src ="../static/BestRendering.js"></script>
<script src="../static/scripts_accueil.js"></script>
</body>

</html>