
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UFT-8">
        <title>Photo de salamandre</title>
        <meta name = "viewport" content="width = device -width">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>

    </head>

    <body>
        <header>
            <a href="{{"/" }}">Accueil</a>
            <h1><center>Upload de la photo de salamandre</center></h1>
            <h2><center> Selectionnez votre photo</center></h2>

        </header>

        <main>

           <center>
            <from action="#" id = "myform">

                <div>
                    <p align="center">
                        <input type="file"id = "capture"accept="image/*"/>
                    </p>
                </div>
                <button type="button" id = "showPosition">Montrer la localisation</button>
                <br/>
                <label for="piece">Choisissez la pièce</label>
                <select name="piece" id="piece">
                    <option value = "1"> 1€</option>
                    <option value = "2"> 2€</option>
                    <option value = "3"> 0.5€</option>
                    <option value = "4"> 1cm</option>
                </select>
                <button  id="btn">Valider le choix</button>
                <br/>


                <button type="button" id = "drawsal">Identifier la salamandre</button>
                <button type="button" id ="drawpiece">Identifier la pièce </button>
                <br/>
                <button type="button" id="drawfin">Terminer l'identifiaction de la salamandre</button>
                <button type="button" id="drawpiecefin">Terminer l'identification de la pièce</button>
                <br/>
                <p id = "taille"></p>
                <p id = "ajoutdb"></p>
                <p id = "salsimilaire"></p>
                <div id="result"></div>
            </from>
            <p>

                <div id = "picture" class="container">
                    <canvas id = "canvas"></canvas>

                    <img  id = "img"  src="" style="display:none"/>
                </div>


            </p>
           </center>
        </main>

        <center>
            <div id ="map"></div>
        </center>
        <center>
            <button type="button" id="pretab"> Pré remplir l'encodage</button>
        </center>
            <center>
                <label for="pourcinput">Entrez le pourcentage de similarité souhaité</label>
                <input type = "number" id="pourcinput" >
                <button type ="soumettre" > Soumettre</button>
            </center>

        <center>
            <button type="button" id ="tableaumandel">Soumettre l'encodage de la salamandre </button>
            <p id = "fin_encodage"></p>
            </center>
        <center>

        <table id="tableau" >
        <tbody>
            <tr>
                <td class="espace"></td>

                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

                <td id = "cellule1">Snout <input type="text" value=""  size="1" style = "width:40px;"> </td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>
                <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td id = "cellule2" > Eye to snout <input type="text" value=""  size="1" style = "width:40px;"> </td>
                <td class="espace"></td>
                <td  id = "cellule3"><input type="text" value="" size="1" style = "width:40px;"> Eye to snout</td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
              <tr>
                <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                  <td class="espace"></td>
                <td id = "cellule4" >Head <input type="text" value=""  size="1" style = "width:40px;"></td>
                <td class="espace"></td>
                <td id = "cellule5"><input type="text"  value=""  size="1" style = "width:40px;"> Head</td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                  <td class="espace"></td>
                  <td class="espace"></td>

            </tr>
             <tr>
                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>
                 <td  id = "cellule6"> Left cheek<input type="text" value="" size="1" style = "width:40px;"></td>
                <td id = "cellule7">Head <input type="text" value=""   size="1" style = "width:40px;"></td>
                <td class="espace"></td>
                <td id = "cellule8"><input type="text" value=""  size="1" style = "width:40px;"> Head</td>
                 <td id = "cellule9"><input type="text" value="" size="1" style = "width:40px;"> Right Cheek</td>
                <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>
                 <td class="espace"></td>
                 <td class="espace"></td>

            </tr>
               <tr>
                <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                   <td class="espace"></td>
                <td id = "cellule10">Extensions <input type="text" value="" size="1" style = "width:40px;"></td>
                <td class="espace"></td>
                <td id = "cellule11"><input type="text" size="1"value=""  style = "width:40px;"> Extensions</td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                   <td class="espace"></td>
                   <td class="espace"></td>

            </tr>
            <tr>
                <td class="espace"></td>
                 <td class="espace"></td>
                <td  id = "cellule12">Front toes left <input type="text" size="1" style = "width:40px;"></td>
                 <td  id = "cellule13"><input type="text" value="" size="1" style = "width:40px;"></td>
                <td id = "cellule14"><input type="text" value="" size="1" style = "width:40px;"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td id = "cellule15"><input type="text" value=""  size="1" style = "width:40px;"></td>
                 <td id = "cellule16"><input type="text" value=""  size="1" style = "width:40px;"></td>
                <td id = "cellule17"><input type="text" value=""  size="1" style = "width:40px;"> Front toes right</td>
                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>
                <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td> Back Sequence</td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>
                <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td id = "cellule18"><input type="text" value=""  size="1" style = "width:40px;"></td>
                <td id = "cellule19"><input type="text" value="" size="1" style = "width:40px;"></td>
                <td  id = "cellule20"><input type="text" value="" size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>
                <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td id = "cellule21" ><input type="text" value="" size="1" style = "width:40px;"></td>
                <td id = "cellule22"><input type="text" value=""  size="1" style = "width:40px;"></td>
                <td  id = "cellule23"><input type="text" value=""  size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>
                <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td id = "cellule24"><input type="text"  value="" size="1" style = "width:40px;"></td>
                <td id = "cellule25"d><input type="text" value=""  size="1" style = "width:40px;"></td>
                <td id = "cellule26"><input type="text" value=""  size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>
                <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td id = "cellule27"><input type="text" value=""  size="1" style = "width:40px;"></td>
                <td id = "cellule28"><input type="text"  value="" size="1" style = "width:40px;"></td>
                <td id = "cellule29" ><input type="text" value="" size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>
                <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td id = "cellule30"><input type="text"  value="" size="1" style = "width:40px;"></td>
                <td id = "cellule31"><input type="text"  value="" size="1" style = "width:40px;"></td>
                <td id = "cellule32"><input type="text"  value="" size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
            </tr>
             <tr>
                 <td class="espace"></td>
                 <td id = "cellule33"> Hind toes left <input type="text"   value=""  size="1" style = "width:40px;"></td>
                <td id = "cellule34"><input type="text"  size="1" value="" style = "width:40px;"></td>
                 <td id = "cellule35"><input type="text"  size="1" value=""style = "width:40px;"></td>
                <td id = "cellule36"><input type="text"  size="1" value=""style = "width:40px;"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>
                 <td id = "cellule37"><input type="text"  size="1"value="" style = "width:40px;"></td>
                <td id = "cellule38"><input type="text"  size="1"value="" style = "width:40px;"></td>
                 <td id = "cellule39"><input type="text"  size="1"value="" style = "width:40px;"></td>
                <td id = "cellule40"><input type="text" size="1"value="" style = "width:40px;"> Hind toes right</td>
                 <td class="espace"></td>
                 <td class="espace"></td>
            </tr>
            <tr>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td id = "cellule41">Tail <input type="text"  size="1" value="" style = "width:40px;"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>



        </table>


        </center>
        <center>

        <br/>
            <label for="sim">Choisissez la pièce</label>
            <select name="sim" id="sim">
                <option value = "1"> oui</option>
                <option value = "2"> non</option>
            </select>
            <button  id="btnsim">Valider le choix</button>
            <br/>
            <p id = "fin_identification"></p>
         <div>
             <canvas id="target" ></canvas>
         </div>
        </center>

        <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
       <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src ="../static/BestRendering.js"></script>
        <script src="../static/scripts.js"></script>





    </body>


</html>