
<!DOCTYPE html>
<html>
<head>
    <title>Tableau HTML dynamique avec inputs</title>
     <style>
        table {
            border-collapse: collapse;
        }
        td {
            width: 10px; /* Largeur des cellules */
            height: 10px; /* Hauteur des cellules */
            text-align: center; /* Centre le contenu dans la cellule */
            font-size: 8px; /* Taille de police pour un caractère */
        }
    </style>
</head>
<body>
<table id="tableau">
        <tbody>
            <tr>

                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>

                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
              <tr>

                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
             <tr>

                 <td class="espace"></td>
                <td class="espace"></td>
                 <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                 <td><input type="number" size="1" style = "width:40px;"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>

            </tr>
               <tr>

                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>

                 <td class="espace"></td>
                <td class="espace"></td>
                 <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                 <td><input type="number" size="1" style = "width:40px;"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                 <td class="espace"></td>

            </tr>
         <tr>

                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>

                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>

                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>

                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>

                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
            <tr>

                <td class="espace"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                 <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>
             <tr>
                 <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                 <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>

                <td class="espace"></td>
                 <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                 <td><input type="number" size="1" style = "width:40px;"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
            </tr>
            <tr>

                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td><input type="number" size="1" style = "width:40px;"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>
                <td class="espace"></td>

            </tr>



        </table>

</body>
</html>
</body>
